body{
	font-family: 'Gilroy', sans-serif;
	margin: 0;
	padding: 0;
	
}
header, footer, main, section{
	max-width: 1445px;
	margin: 0 auto;
}
.container{
	max-width: 940px;
	margin: 0 auto;
}

h1,h2,p{
	margin: 0;
	padding: 0;
}

.aboutme{
	background: #F6F6F6;

	text-align: center;
	}

.aboutme__title {
			font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
}

	.aboutme__content {
		box-sizing: border-box;
		padding: 120px 0 107px 0;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		max-width: 520px;
		height: 506px;
	}
	.aboutme__text {
		display: inline-block;
		font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
	}

	.portfolio{
		width: 1445px;
height: 2253px;
background: #F6F6F6;
text-align: center;
	}

	.portfolio_title{
		font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
padding: 113px 0 47px 0;
	}

.portfolio_text{
		font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;
color: #070707;
margin: 43px 0 99px 0;
	}

	.portfolio_link{
		font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;
color: #070707;
	}
	

	.contacts{
		margin: 115px 0 20px 0;
		font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
	}
	.contacts_text {
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
	}
	.sendmes{
		box-sizing: border-box;
		background-color: black;
		text-decoration: none;
		font-size: 18px;
line-height: 22px;
text-align: center;
color: white;
	}