
.contacts {
  margin: 0 0 20px 0;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
.contacts_text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}


.send{
  padding: 115px 0 123px 0;
}

.sendmes__link {
  display: block;
  background-color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-radius: 30px;
  width: 123px;
  padding: 14px 28px;
  margin: 30px auto 0;
}

.shild {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 92px 0 46px;
}
.shild__img {
  margin: 0 62px;
  padding: 0 0 50px;
}

.fin{
  white-space: pre-wrap;
text-align: center;
}

/* адаптация фута */
@media (max-width: 650px){
    .shild__img{
      margin: 0 110px;
    }
}
