
.portfolio {
  background: #f6f6f6;
  text-align: center;
  padding: 0 0 96px 0;
}

.portfolio_title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
  padding: 113px 0 47px 0;
}

.portfolio_text {
  text-align: center;
  margin: 43px 0 99px 0;
}

.portfolio_link {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}

/* .portfolio__one { потом исправить отступы

} */

.portfolio__img{
  width: 100%;
}